<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully yscroll call" id="container">
	<div class="call-up">
		<div class="call-icon"></div>
		<a href="first.html" class="btn call-home">首页</a>
	</div>
	<div class="call-line scope"></div>
	<p class="call-title">到这里来参加</p>
	<div class="call-map">
		<img src="../img/map.jpg">
	</div>
	<p class="call-tip">CALL US</p>
	<a class="call-phone scope" href="tel:15532156783">15532156783</a>
	<p class="call-info">时间：2015.5.28—6.1</p>
	<p class="call-info">地点：中国儿童中心（北京）</p>
	<p class="call-info">交通：</p>
	<p class="call-info">地铁2号线、6号线车公庄站B口出东行</p>
	<p class="call-info">公交50路官园西门站</p>
	<p class="call-info">107、118、701 车公庄东站</p>
	<p class="call-info">107、118 官园站</p>
	<div style="height:20px;"></div>
	<div class="btm scope">
		<p>2015中国童书博览会5.28-6.1</p>
		<p class="small">中国儿童中心</p>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
