<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>卡包</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="../js/zepto.cookie.min.js"></script>
</head>
<body class="fully">
<div class="container card fully yscroll" id="container">
	<ul class="card-box">
		<li class="card-bg01" data-cardid="pfdNtt5N1WHzQf_Luo7EyWkMwjeY">
			<div class="card-icon"></div>
			<div class="card-name">CCBE抢门票赠券</div>
			<div class="card-dots"></div>
			<div class="card-info">
				<span>中国图书博览会</span>
				<span>有效期至：2015.07.03</span>
			</div>
		</li>
		<li class="card-bg02" data-cardid="pfdNtt2VCd-B--OsLdE3dn4yJpIc">
			<div class="card-icon"></div>
			<div class="card-name">CCBE抢门票赠券</div>
			<div class="card-dots"></div>
			<div class="card-info">
				<span>中国图书博览会</span>
				<span>有效期至：2015.07.03</span>
			</div>
		</li>
		<li class="card-bg03">
			<div class="card-icon"></div>
			<div class="card-name">CCBE抢门票赠券</div>
			<div class="card-dots"></div>
			<div class="card-info">
				<span>中国图书博览会</span>
				<span>有效期至：2015.07.03</span>
			</div>
		</li>
		<li class="card-bg04">
			<div class="card-icon"></div>
			<div class="card-name">CCBE抢门票赠券</div>
			<div class="card-dots"></div>
			<div class="card-info">
				<span>中国图书博览会</span>
				<span>有效期至：2015.07.03</span>
			</div>
		</li>
		<li class="card-bg05">
			<div class="card-icon"></div>
			<div class="card-name">CCBE抢门票赠券</div>
			<div class="card-dots"></div>
			<div class="card-info">
				<span>中国图书博览会</span>
				<span>有效期至：2015.07.03</span>
			</div>
		</li>
	</ul>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wait.js"></script>
<script src="../js/wx-card.js"></script>
<script src="../js/card-list.js"></script>
<script>new CardList();</script>
</html>
