<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully yscroll detail" id="container">
	<div class="detail-up">
		<a href="first.html" class="btn detail-home">返回</a>
		<div class="detail-icon"></div>
	</div>
	<div class="detail-down">
		<p class="detail-tip">您已成功预约，我们将尽快与您联系确定</p>
		<p class="detail-text">点击右上角分享到朋友圈，</p>
		<p class="detail-text">小伙伴将会看到您的精彩展讯。</p>
		<p class="detail-text">不放过每一次宣传自己的机会～</p>
		<div class="detail-shelf scope">
			<img src="../img/shelf.png">
		</div>
		<div class="btm scope">
			<p>2015中国童书博览会</p>
			<p class="small">有你更精彩</p>
		</div>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
