<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully first" id="container">
	<a href="who.html" class="first-top">
		<div class="first-inner center">
			<div class="first-ccbe"></div>
			<p>Who am I?</p>
			<!-- <p>童书博览会精彩亮相</p> -->
		</div>
	</a>
	<a href="gather.html" class="first-block one"></a>
	<a href="rank.html" class="first-block two"></a>
	<a href="todo.html" class="first-block three"></a>
	<a href="coop.html" class="first-block four"></a>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
