<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="../js/zepto.cookie.min.js"></script>
</head>
<body class="fully">
<div class="container fully schedule" id="container">
	<div class="sch-top">
		<div></div>
		<p class="small">中国童书博览会</p>
		<p>精彩活动</p>
		<p class="small" style="top:5px;">2015.5.28-6.1 中国儿童中心</p>
		<a href="first.html" class="btn">首页</a>
	</div>
	<ul class="sch-nav clearfix">
		<li class="checked">28日</li>
		<li>29日</li>
		<li>30日</li>
		<li>31日</li>
		<li>1日</li>
	</ul>
	<ul class="sch-tab yscroll">
		<li id="tab28" class="checked">
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">1</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>古典音乐故事会--和李佳阿姨一起聆听古典音乐故事</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>古典音乐故事会--和李佳阿姨一起聆听古典音乐故事</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>13:30-15:00</p>
						<p>“从绘本中学会如何做父母”主题讲座</p>
						<p>耕林童书馆</p>
					</li>
					<li>
						<p>15:00-16:00</p>
						<p>恐龙知识问答</p>
						<p>中信出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">2</div>
				<ul class="sch-list">
					<li>
						<p>9:30-10:30</p>
						<p>首届童书博览会开幕式</p>
					</li>
					<li>
						<p>11:00-12:30</p>
						<p>《中华美德故事》发布和签售仪式</p>
						<p>人民音乐出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>托马斯70周年视听嘉年华</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>托马斯70周年视听嘉年华</p>
						<p>童趣出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">3</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>水墨画里的中国</p>
						<p>新疆青少年出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>木俑工坊</p>
						<p>798国际儿童艺术节</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>和大师一起涵泳国学经典</p>
						<p>漓江出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>和大师一起涵泳国学经典</p>
						<p>漓江出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">4</div>
				<ul class="sch-list">
					<li>
						<p>14:00-15:00</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">5</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>“龙之战”中西方知识竞赛</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>“我的怪兽朋友”卡通形象创意大赛</p>
						<p>禹田文化传媒</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">6</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《恐龙速递》图话书工作坊之恐龙速递</p>
						<p>活字文化</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>牛津·皮卡伴你成长</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>我是敢于冒险的小海盗</p>
						<p>北京科学技术出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">7</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>开心球故事分享会</p>
						<p>中国人民大学出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>“放飞想象力”绘画沙龙</p>
						<p>耕林童书馆</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>“聪明豆系列图画书”讲座</p>
						<p>外语教学与研究出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>“聪明豆系列图画书”讲座</p>
						<p>外语教学与研究出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">8</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《乐乐趣—科普实验秀》<br> 《乐乐趣—小月姐姐讲故事》 <br>《乐乐趣—小手动起来》</p>
						<p>西安荣信文化产业发展有限公司</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>《乐乐趣—科普实验秀》<br>  《乐乐趣—小月姐姐讲故事》 <br> 《乐乐趣—小手动起来》</p>
						<p>西安荣信文化产业发展有限公司</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>PICTURA神笔涂绘书-涂绘活动</p>
						<p>一米阳光童书馆</p>
					</li>
				</ul>
			</div>
		</li>
		<li id="tab29">
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">1</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>小羊肖恩首发仪式</p>
						<p>北京邮政公司</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>卡通动漫体验馆“超级英雄陪你过六一”</p>
						<p>世界图书出版公司北京分公司</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>和孩子一起聊聊如何更出色</p>
						<p>禹田文化传媒</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>“神秘日志”系列图书讲座</p>
						<p>一米阳光童书馆</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">2</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《影响孩子一生的健康绘本》新书推荐</p>
						<p>中国人口出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>儿童生命安全教育讲座—增强校园安全 学会险境求生</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>《了不起的大猫》新书发布会</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>魔法树的故事-伊妮德·布莱顿著作阅读推广会</p>
						<p>吉林美术出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">3</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>画脸谱</p>
						<p>新疆青少年出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>你知道大头儿子还有个小妹妹小饼干吗?</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>“以天为纸放飞梦想”</p>
						<p>798国际儿童艺术节</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>“以天为纸放飞梦想”</p>
						<p>798国际儿童艺术节</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">4</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>PICTURA神笔涂绘书-涂绘活动</p>
						<p>一米阳光童书馆</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>《西游记的故事》故事会</p>
						<p>外语教学与研究出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>《西游记的故事》故事会</p>
						<p>外语教学与研究出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">5</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>“献爱心 蓝天下”</p>
						<p>中国人民大学出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>“杜莱创意玩具书”现场体验赛</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>发现美，启发创意-石头彩绘真有趣</p>
						<p>电子工业出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>童声琴韵---儿童古琴</p>
						<p>人民音乐出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">6</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《宝宝语言早开发》专家讲座及诵读</p>
						<p>中国人口出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>《幼儿手思维游戏·手指谣》</p>
						<p>中国人口出版社</p>
					</li>
					<li>
						<p>14:00-15:00</p>
						<p>开心球故事分享会</p>
						<p>中国人民大学出版社</p>
					</li>
					<li>
						<p>15:30-16:30</p>
						<p>正确面对自己的错误</p>
						<p>北京科学技术出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">7</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《恐龙速递》图话书工作坊之恐龙速递</p>
						<p>活字文化</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>“放飞想象力”绘画沙龙</p>
						<p>耕林童书馆</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">8</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>13:30-15:00</p>
						<p>听小马故事，画心中小马，自制小马宝莉图书</p>
						<p>童趣出版社</p>
					</li>
				</ul>
			</div>
		</li>
		<li id="tab30">
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">1</div>
				<ul class="sch-list">
					<li>
						<p>9:45-10:45</p>
						<p>儿童生命与道德教育研究中心生命教育绘本公众发布会</p>
						<p>首都师范大学</p>
					</li>
					<li>
						<p>11:00-12:30</p>
						<p>《家庭轻松读绘本》</p>
						<p>中译出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>《和孩子一起玩英文音乐游戏》</p>
						<p>中译出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>进入“红城王国”感受爱和勇气-“红城王国系列”图书分享会</p>
						<p>天天出版社</p>
					</li>
					<li>
						<p>16:00-17:00</p>
						<p>比得兔高清动画片播放</p>
						<p>王府井外文书店</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">2</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>北京文艺广播“爱星满天”故事大王招募</p>
						<p>北京文艺广播电台·东方出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>北京文艺广播“爱星满天”故事大王招募</p>
						<p>北京文艺广播电台·东方出版社</p>
					</li>
					<li>
						<p>13:00-15:00</p>
						<p>北京文艺广播“爱星满天”故事大王征集评选</p>
						<p>北京文艺广播电台·中国童书博览会</p>
					</li>
					<li>
						<p>15:30-17:30</p>
						<p>贺超叔叔讲故事·宝贝晒书计划故事会</p>
						<p>北京字里行间科技文化有限公司</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">3</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>脑洞大开：小恐龙是怎样长大的？</p>
						<p>中信出版社</p>
					</li>
					<li>
						<p>13:30-16:00</p>
						<p>卡酷幼儿园频道节目录制</p>
						<p>卡酷</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">4</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">5</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《小小建筑师》：创意无限的世界建筑之旅</p>
						<p>电子工业出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>趣味国学有奖大闯关</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>《万物运转的秘密》</p>
						<p>电子工业出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>和孩子一起玩艺术</p>
						<p>漓江出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">6</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>好孩子大冒险；“最好的我”在这里！</p>
						<p>禹田文化传媒</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>《鸡妈妈的蛋宝宝》图话书工作坊之“纸”剧场</p>
						<p>活字文化</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>快乐叮当故事屋—故事串串烧</p>
						<p>北京师范大学出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>开心球故事分享会</p>
						<p>中国人民大学出版社</p>
					</li>
					<li>
						<p>15:30-17:30</p>
						<p>戏剧工作坊</p>
						<p>798国际儿童艺术节及熙典国际教育</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">7</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>“放飞想象力”绘画沙龙</p>
						<p>耕林童书馆</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>五彩涂鸦</p>
						<p>中译出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>幼儿园里的26个开心果</p>
						<p>禹田文化传媒</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">8</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>苏菲亚的魔法飞行棋</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>和米奇一起玩转数学</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>让思维力引领孩子的日常探索—科学探索游戏秀</p>
						<p>禹田文化传媒</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>舌尖上的老北京</p>
						<p>新疆青少年出版社</p>
					</li>
				</ul>
			</div>
		</li>
		<li id="tab31">
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">1</div>
				<ul class="sch-list">
					<li>
						<p>13:00-14:00</p>
						<p>“科幻小狂人”粉丝招募会——暨“星球大战六部曲青少年小说”发布会活动</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>健康口腔科普讲座“从小爱刷牙，养出好口腔”</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>16:00-17:00</p>
						<p>比得兔高清动画片播放</p>
						<p>王府井外文书店</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">2</div>
				<ul class="sch-list">
					<li>
						<p>10:00-12:00</p>
						<p>北京电视台优秀主持人评选启动式</p>
						<p>北京电视台</p>
					</li>
					<li>
						<p>13:00-15:00</p>
						<p>“快乐绽放”中国儿童艺术团汇报演出</p>
						<p>中国儿童中心</p>
					</li>
					<li>
						<p>15:30-17:30</p>
						<p>中国汉字听写大会·我的趣味汉字世界体验赛</p>
						<p>接力出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">3</div>
				<ul class="sch-list">
					<li>
						<p>13:00-14:00</p>
						<p>“超级飞侠”系列故事分享</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>童书童画-“童年中国”系列绘本故事与分享</p>
						<p>天天出版社</p>
					</li>
					<li>
						<p>15:30-17:00</p>
						<p>戏剧工作坊</p>
						<p>798国际儿童艺术节及熙典国际教育</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">4</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>11:15-12:30</p>
						<p>童声唱响中国梦和晨语古筝表演</p>
						<p>人民音乐出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>俄罗斯少儿歌舞表演《开心世界》</p>
						<p>中国人民大学出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">5</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>小豆包桥梁书名师童趣悦读课</p>
						<p>全国知名语文教师东城区教研员吴琳</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>趣味国学有奖大闯关</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>剪纸&彩泥《创意美劳全能王》</p>
						<p>电子工业出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>绘本故事分享会-我就是独一无二的</p>
						<p>北京科学技术出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">6</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《乐乐趣—科普实验秀》<br>
						《乐乐趣—小月姐姐讲故事》<br>
						《乐乐趣—小手动起来》</p>
						<p>西安荣信文化产业发展有限公司</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>《乐乐趣—科普实验秀》<br>《乐乐趣—小月姐姐讲故事》<br>《乐乐趣—小手动起来》</p>
						<p>西安荣信文化产业发展有限公司</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>创意儿童手工课</p>
						<p>王府井外文书店</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>阿毛好习惯故事会</p>
						<p>北京出版集团</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">7</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>《与大师一起艺术创想》 </p>
						<p>天天出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>“放飞想象力”绘画沙龙</p>
						<p>耕林童书馆</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>画出我冰雪</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>画艘飞船去火星</p>
						<p>中国人民大学出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">8</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>妙趣科普讲座“你好，地球！”—和春天姐姐一起探索地球</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>从中国最美动画到最美童书</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>魔幻森林里的一天-绘本欢动音乐会</p>
						<p>齐飞扬创意工作室</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>魔幻森林里的一天-绘本欢动音乐会</p>
						<p>齐飞扬创意工作室</p>
					</li>
				</ul>
			</div>
		</li>
		<li id="tab1">
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">1</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>恐龙世纪—探寻失落的世界</p>
						<p>一米阳光童书馆</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>中国记忆—传统节日体验会</p>
						<p>北京师范大学出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>奇先生妙小姐故事会</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>小熊维尼科普小实验</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>16:00-17:00</p>
						<p>比得兔高清动画片播放</p>
						<p>王府井外文书店</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">2</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>卡酷慈善拍卖会</p>
						<p>798国际儿童艺术节</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>卡酷慈善拍卖会</p>
						<p>799国际儿童艺术节</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>小仙子玛丽音乐会</p>
						<p>新疆青少年出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>米菲60周年生日会</p>
						<p>童趣出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">3</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>学汉字，刮起汉字学习新风暴</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>可爱的咕噜汪</p>
						<p>中信出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>比眼力、比脑力、比定力—I SPY视觉挑战赛</p>
						<p>接力出版社</p>
					</li>
					<li>
						<p>15:45-17:15</p>
						<p>戏剧工作坊</p>
						<p>798国际儿童艺术节及熙典国际教育</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">4</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>梦幻角蛙带回家</p>
						<p>北京出版集团</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>三国大哄趴（home party)</p>
						<p>现代教育出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">5</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>“我的怪兽朋友”卡通形象创意大赛</p>
						<p>禹田文化传媒</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>趣味国学有奖大闯关</p>
						<p>现代教育出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>“天天爱科学亲子互动专场”</p>
						<p>天天出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>《很小和很老》图话书工作坊之“小”与“老”大畅想</p>
						<p>活字文化</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">6</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>我的牙掉了</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>《小牛顿实验室》：一只苹果能发电</p>
						<p>电子工业出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>《艾拉的芭蕾奇遇》故事分享会</p>
						<p>中译出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">7</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>蒲蕾英玩英语</p>
						<p>漓江出版社</p>
					</li>
					<li>
						<p>11:30-12:30</p>
						<p>“放飞想象力”绘画沙龙</p>
						<p>耕林童书馆</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>寻宝游戏版块“图画捉迷藏 我是寻宝王”</p>
						<p>北京科学技术出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>《爱打嗝的大熊》</p>
						<p>现代教育出版社</p>
					</li>
				</ul>
			</div>
			<div class="sch-area">
				<div class="sch-tap"></div>
				<div class="sch-txt">活动区</div>
				<div class="sch-num">8</div>
				<ul class="sch-list">
					<li>
						<p>10:00-11:00</p>
						<p>2015快乐阳光·多彩家园童歌会</p>
						<p>人民音乐出版社</p>
					</li>
					<li>
						<p>13:00-14:00</p>
						<p>变形警车珀利-模拟交通活动</p>
						<p>童趣出版社</p>
					</li>
					<li>
						<p>14:30-15:30</p>
						<p>《绝地求生少年闯关系列》：逃生技巧我第一</p>
						<p>电子工业出版社</p>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
</body>
<script src="../js/schedule-tab.js"></script>
<script>new ScheduleTab();</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>
new WXShare({
	title : "中国童书博览会",
	desc : "中国童书博览会精彩活动等你来！"
});
</script>
</html>
