<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>童书博览会</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
<div class="container share" id="container">
	<div class="share-top scope">
		<div class="share-icon"></div>
	</div>
	<p class="share-title">[公司名称]已预约中国童书博览会，</p>
	<p class="share-title">给你最好看！</p>
	<p class="share-intro">二十个字的公司简介二十个字的公司简介简介</p>
	<div class="share-map">
		<img src="../img/map.jpg">
	</div>	
	<p class="share-title">据说这里是最好的童书博览会</p>
	<p class="share-title">等你来～</p>
	<p class="share-tip">长按二维码或查看公众号“中国童书博览会”</p>
	<p class="share-small">好书好活动好多优惠券</p>
	<div class="share-qrcode">
		<img src="../img/qrcode.jpg">
	</div>
	<div class="btm scope">
		<p>2015中国童书博览会</p>
		<p class="small">有你更精彩</p>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
