<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully yscroll summon" id="container">
	<div class="summon-top">
		<div></div>
		<p class="small">中国童书博览会</p>
		<p>抢门票</p>
		<a href="first.html" class="btn">首页</a>
	</div>
	<div class="summon-body scope">
		<div>
			<img src="../img/huh.png">
		</div>
		<p>召唤6个小伙伴帮你抢门票！</p>
	</div>
	<a class="summon-neck scope" href="./envelope.html">去抢票</a>
	<div class="summon-btm scope">
		<p class="summon-rule">活动规则</p>
		<p>门票被糊涂的信使放在密码箱里打不开了,听说有6个好心人拥有开箱秘籍!快去找找看吧!</p>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>
new WXShare({
	title : "这儿的六一很精彩，我想带上小宝去看看。"
});
</script>
</html>
