<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body class="fully">
<div class="container fully todo" id="container">
	<a href="first.html" class="btn todo-home">首页</a>
	<div class="todo-inner center">
		<div class="todo-tree"></div>
		<p>即将上线</p>
		<p>敬请期待</p>
	</div>
	<div class="btm scope">
		<p>2015中国童书博览会5.28-6.1</p>
		<p class="small">中国儿童中心</p>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
