<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/kidbook.css">
<script src="../js/cfg.js"></script>
<script src="../js/zepto.min.js"></script>
</head>
<body>
<div class="container who" id="container">
	<div class="who-top">
		<a href="first.html" class="btn who-home">返回</a>
		<p>Who am I?</p>
		<div class="who-ccbe"></div>
	</div>
	<div class="who-down scope">
		<div class="who-star"></div>
		<div class="who-star" style="top:700px; left:10px"></div>
		<div class="who-star" style="top:623px; left:132px"></div>
		<div class="who-star" style="top:1056px; left:256px"></div>
		<div class="who-star" style="top:1498px; left:298px"></div>
		<div class="who-star" style="top:1400px; left:2px"></div>
		<div class="who-star" style="top:1503px; left:143px"></div>
		<div class="who-star" style="top:2203px; left:43px"></div>
		<div class="who-star" style="top:2303px; left:300px"></div>
		<div class="who-star" style="top:1803px; left:143px"></div>
		<div class="who-star" style="top:903px; left:143px"></div>
		<div class="who-star" style="top:955px; left:265px"></div>
		<div class="who-star" style="top:1166px; left:23px"></div>
		<div class="who-cloud"></div>
		<div class="who-cloud" style="top:1050px; left:10px"></div>
		<div class="who-cloud" style="top:700px; left:200px"></div>
		<div class="who-cloud" style="top:800px; left:230px"></div>
		<div class="who-cloud" style="top:960px; left:10px"></div>
		<div class="who-cloud" style="top:1400px; left:200px"></div>
		<div class="who-cloud" style="top:900px; left:50px"></div>
		<div class="who-cloud" style="top:1200px; left:130px"></div>
		<div class="who-cloud" style="top:1200px; left:130px"></div>
		<div class="who-cloud" style="top:1800px; left:30px"></div>
		<div class="who-cloud" style="top:2000px; left:240px"></div>
		<div class="who-desk"></div>
		<div class="swiper-box">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="../img/1.jpg"></div>
				<div class="swiper-slide"><img src="../img/2.jpg"></div>
				<div class="swiper-slide"><img src="../img/3.jpg"></div>
			</div>
			 <div class="swiper-pagination"></div>
		</div>
		<div class="who-text">
			<p class="para"> “一本好书带给孩子们的是无限的人生可能性”，首届中国童书博览会将于5月28日至6月1日登陆北京，为孩子们献上最好的六一礼物！</p>

			<p class="subt">好书，妥妥的～</p>
			
			<p class="para">就如博览会筹办初衷那样：“让中国孩子读最好的童书！”，中国童书博览会现场集合全国童书出版名社名家名作，极力推出最棒的中国好童书，迎接儿童家庭及其他童书需求者的到来！更有国际童书出版社加盟，不出国门轻松获取优秀国外童书！</p>

			<p class="subt">现场活动，满满的～</p>

			<p  class="para">只有书怎么能满足孩子旺盛的好奇心？“满仓满谷”的童书之外，还有各家出版社的独家秘制活动，新书签售、绘本剧场、名家讲座……来中国童书博览会，一次满足你对童书活动的所有想象！</p>

			<p class="subt">发现新生</p>

			<p class="para">中国童书博览会关注童书原创力量，这里不仅是儿童及家庭的好书发现之地，也是优秀原创插画师、原创绘本家、原创作家的展示推广平台。中国童书博览会发起中国原创插画师集结号，优秀知名插画家及新生插画家皆可参与展示，为中国优秀原创童书提供更多的源动力！(1948)和法兰克福图书博览会(1949)的根据地。</p>

			<p class="subt">不只是书展——阅读推广体验新风尚</p>

			<p class="para">自1579年起,中国童书博览会首次在绿草如茵的户外搭建展馆展位，结合中国儿童中心这一得天独厚的儿童大party现场，打造兼具艺术性和童话风格的主题阅读公园。同时首次推出主题阅读体验馆，集中配合出版社精品专业互动领衔“阅读推广体验新风尚”——收获惊喜和乐趣，让更多孩子爱上阅读！</p>


			<p class="subt">搭配文艺范——798国际儿童艺术节来喽！</p>

			<p class="para">“阅读连接世界，艺术放飞梦想！”这年头，好玩儿的事情一定要叫上小伙伴。中国童书博览会牵手“798国际儿童艺术节”，“文”“艺”范，so easy～想跟国内外知名插画师现场共创绘本么？想体验丰富多才的国际艺术家创意活动么？都在这儿等你～</p>


			<p class="subt">线上互动——玩转博览会“我”最强～</p>

			<p class="para">作为官微，只能看点儿预告或者抢抢票？绝不！如果你只是期待这是一次一切就绪的5天活动就错了，在这里，跟博览会小编多聊聊那些你最爱看的书，最喜欢的活动，最倾慕的作家，说不定就能在现场看到他们哦！当然，大把的优惠券，还有免费的抢门票也会有哦～</p>
		</div>
	</div>
	<p class="who-tip">长按二维码或查看公众号“中国童书博览会”</p>
	<p class="who-small">好书好活动好多优惠券</p>
	<div class="share-qrcode">
		<img src="../img/qrcode.jpg">
	</div>
	<div style="height:20px;"></div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<script src="../js/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-box',{
    pagination: '.swiper-pagination',
    paginationClickable: true
});
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="../js/wx-share.js"></script>
<script>new WXShare();</script>
</html>
